FPB_CREDENTIALS_KEY=replace_me
FPB_BOT_TOKEN=replace_me
FPB_ADMIN_USER_IDS=123456789
FPB_STATE_DIR=/opt/flightping/state
FPB_MONITOR_INTERVAL_MINUTES=30
FPB_MONITOR_WINDOW_HOURS=9
FPB_MONITOR_DURATION_HOURS=6
FPB_MIN_DELAY_MINUTES=60
FPB_TIMEZONE=Atlantic/Canary
FPB_MAX_ACTIVE_AIRPORTS=3
FPB_FLIGHT_OBSERVATION_RETENTION_DAYS=30
FPB_AUDIT_RETENTION_DAYS=180
FPB_API_REQUEST_RETENTION_DAYS=90
FPB_DAILY_API_REQUEST_LIMIT=0
FPB_MONTHLY_API_REQUEST_LIMIT=0
FPB_USAGE_WARNING_PERCENT=80
FPB_USER_REQUEST_COOLDOWN_SECONDS=5
FPB_WEB_HOST=192.168.2.111
FPB_WEB_PORT=8080
